body, html {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Cantata One', serif;
  background: url('./me0_optimized.jpg');
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
  -webkit-text-stroke: calc(0.2px + 0.1vw) rgba(46, 102, 228, 0.75);;
}

a:hover, a:active {
  background: linear-gradient(20deg, rgb(199, 11, 174), rgb(236, 95, 29));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: calc(0.2px + 0.1vw) black;
}

nav {
  position: fixed;
  top: 2vw;
  left: 4vw;
  font-size: calc(5vw + 20px);
}

.navitem {
  margin-bottom: 0.5em;
}